// Общий файл элементов форм
// Для подключения/отключения стилей конкретного єлемента формы смотри base/forms/forms.scss
@import "base/forms/forms";

// Стили попапов
@import "base/popup";

// Стили спойлеров
// @import "base/spollers";

// Стили табов
// @import "base/tabs";

// Стили карт
// @import "base/maps";

// Стили блока "показать еще"
// @import "base/showmore";

// Стиль календаря 
@import "libs/datepicker.scss";

// Стили для липкого блока
// @import "base/sticky";

// Стили для полноэкранного блока
 @import "base/fullscreen";

// Стили для поекраної прокрутки
// Styles for fullpage scroll
// @import "base/fullpage";

// Стили для отзывчивых картинок (IBG)
// Сниппет (HTML): ibg (div c картинкой и классами)
// Сниппет (HTML): ibga (a c картинкой и классами)


[data-bg] {
	overflow: hidden;
	position: relative;
}
[data-decor] {
	&::before {
		content:"";
		background: url('@img/main-decor.svg') 0 0  / 100% no-repeat;
		width: rem(125);
		height: rem(125);
		animation: rotate 30s infinite linear;
		@keyframes rotate {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(-360deg);
			}
		}
	}
}
.bg-item {
	content: "";
	position: absolute;
	top: -30%;
	left: 0;
	width: 100%;
	height: 160%;	
	background: url('@img/BG-min.jpg') center / cover no-repeat; 
}
	


.block-header {
	@extend %cormor;
	text-transform: capitalize;
	display: grid;
	gap: 8px;
	justify-items: center;

	// .block-header__sub-title
	&__sub-title {
		@include adaptiveValue("font-size", 23, 23);
		line-height: 130%;
		text-align: center;
		letter-spacing: 0.04em;	
		color: $mainWite;
		display: grid;
		gap: 8px;
		justify-items: center; 	
		&::after {
			@extend %ic;
			content: "\e904";
			color: $mainYellow;
			font-size: em(9, 23);
			} // Ложка
		}	

	// .block-header__title
	&__title {
		font-weight: 600;
		@include adaptiveValue("font-size", 64, 35);
		line-height: 130%;
		// text-align: center;
		letter-spacing: 0.04em;		
		color: $mainYellow;
	}

	//.block-header_big 
    &_big {
		.block-header__title {
			text-align: left;
			@include adaptiveValue("font-size", 90, 40);
		}
    }

    //.block-header_left
    &_left {
		justify-items: stretch;
		.block-header__sub-title {
			justify-items: start;
		}	
    }
}
.scroll {
	@extend %cormor;
	color: $mainYellow;
	text-transform: uppercase;
	font-weight: bold;
	font-size: rem(16);
	line-height: 175%;
	letter-spacing: 0.04em;
	display: grid;
	justify-items: center;
	gap: 24px;
	&::before {
		content: "";
		background: rgb(220,202,135);
		width: 1px;
		height: 60px;
		background: linear-gradient(180deg, rgba(220,202,135,1) 66%, rgba(220,202,135,0.24) 100%);
	}
}

.text {
	line-height: 170%;
}




[class*="-ibg"] {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
[class*="-ibg_contain"] {
	img {
		object-fit: contain;
	}
}

// Шаблоны (заготовки)
// @extend %имя шаблона;
// Сниппет (SCSS): ex

// Счетчик для списка
%listCounter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
// Адаптивное видео
%responsiveVideo {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
// Видео в качестве фона
%videoBackground {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}
// Серый фильтр
%greyfilter {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	@media (any-hover: hover) {
		&:hover {
			 //filter: grayscale(0);
		}
	}
}
// Отменить выделение
%noselect {
	user-select: none;
}
// Зеркальное отображение
%mirror {
	transform: scale(-1, 1);
}
// Плавный скролл
%smoothscroll {
	-webkit-overflow-scrolling: touch;
}
// Скрыть скролл
%hidescroll {
	&::-webkit-scrollbar {
		display: none;
	}
}
%cormor{
	font-family: CormorantUpright;
}


